<div class="auth">
    <a href="#" class="auth__link">
        <div class="auth__close"></div>
    </a>
    <div class="avatar auth__avatar">
        <div class="avatar__pic"><img src="../../assets/img/logo.png" alt="" class="avatar__img"></div>
        <div class="avatar__desc">
            <div class="avatar__title">
                <h3>
                    Авторизация
                </h3>
            </div>
            <div class="avatar__info">Введите пожалуйста своё фио и ник для дальнейшей авторизации</div>
        </div>
    </div>
    <form class="form auth__form" id="form-auth">
        <input type="text" class="form__user" name="user" placeholder="Введите имя и фамилию" autocomplete="off">
        <input type="text" class="form__nick" name="nick" placeholder="Введите свой ник" autocomplete="off">>
        <div class="form__control"><button class="form__submit button_cyan">Войти</button></div>
    </form>
</div>