<div class="avatar users__avatar current_user">
    <input type="file" class="avatar__photo" id="avatarPhoto" accept="image/jpeg,image/jpg,image/png">
    <label class="avatar__label" for="avatarPhoto" title="Выберите фото">
        <div class="avatar__pic pic_medium">
            <img src="../../assets/img/photo-camera.png" alt="camera" class="avatar__img" id="myAvatar">
        </div>
    </label>
    <div class="avatar__desc">
        <div class="avatar__title title_small">
            <h3 id="currentUser">
                Алексей Трубин
            </h3>
        </div>
        <div class="avatar__info info_small">В сети</div>
    </div>
</div>