<div class="photo_overlay">
    <div class="photo">
        <div class="photo__pic"><img src="../../assets/img/photo-camera.png" alt="" class="photo__img"></div>
        <div class="photo__info">Область для профильной фотографии</div>
        <div class="photo__controls">
            <button class="photo__cancel button_blue">Отмена</button>
            <button class="photo__save button_blue">Сохранить</button>
        </div>
    </div>
</div>