<div class="main">
    <div class="panel_left">
        <div class="nav">
            <a href="#" class="nav__link">
                <div class="nav__bar"></div>
            </a>
            <input type="text" class="nav__search" placeholder="Найти...">
        </div>
        <div class="users">
            <ul class="users__list">
                <li class="users__item">
                    <div class="avatar users__avatar">
                        <div class="avatar__pic pic_small"><img src="../../assets/img/avatar.png" alt=""
                                class="avatar__img">
                        </div>
                        <div class="avatar__desc">
                            <div class="avatar__title title_small">
                                <h3>
                                    Алексей Трубин
                                </h3>
                            </div>
                            <div class="avatar__info info_small">Привет</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel_right"></div>
</div>