<div class="wrapper">
    <div class="controls">
        <a href="#" class="controls__link" id="link_minimize">
            <div class="controls__minimize"></div>
        </a>
        <a href="#" class="controls__link" id="link_maximize">
            <div class="controls__maximize"></div>
        </a>
        <a href="#" class="controls__link" id="link_close">
            <div class="controls__close"></div>
        </a>
    </div>
    <div class="main">
        <div class="panel__left panel__left_active">
            <div class="nav">
                <a href="#" class="nav__link">
                    <div class="nav__bar"></div>
                </a>
                <input type="text" class="nav__search active_display" placeholder="Найти...">
            </div>
            <div class="users active_display">
                {{>'../template/current_user.hbs'}}
                <ul class="users__list" id='usersList'>
                </ul>
            </div>
        </div>
        <div class="panel__right chat">
            <div class="chat__header">
                <h3 class="chat__title">Чат</h3>
                <div class="chat__info">2 участника</div>
            </div>
            <div class="chat__box">
                <ul class="chat__list"></ul>
            </div>
            <form class="chat__form" id="chatForm">
                <textarea name="message" id="" cols="30" rows="10" class="chat__msg"
                    placeholder="Введите сообщение..."></textarea>
                <button class="button_cyan chat__send">Отправить</button>
            </form>
        </div>
    </div>
</div>