{{#each users}}
<li class="users__item">
    <div class="avatar users__avatar">
        <div class="avatar__pic pic_medium">
            <img src="../../assets/img/photo-camera.png" alt="camera" class="avatar__img" id="myAvatar">
        </div>
        <div class="avatar__desc">
            <div class="avatar__title title_small">
                <h3 id="currentUser">
                    {{this.userName}}
                </h3>
            </div>
            <div class="avatar__info info_small">Привет</div>
        </div>
    </div>
</li>
{{/each}}