@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic-ext');
@import 'buttons';
@import 'auth';
@import 'users';
@import 'nav';
@import 'controls';
@import 'chat';

body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    height: 100%;
    margin: initial;
}
button {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}
input {
    outline: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}

#chat-container {
    background-color: #09101a;
    height: 100vh;
    display: flex;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
    display: none;
}
