.chat {
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(23, 33, 43);
        padding-left: 5px;
        height: 65px;
    }
    &__title {
        color: white;
    }
    &__info {
        color: rgb(127, 145, 164);
    }
    &__box {
        flex-grow: 2;
        background-color: transparent;
        overflow-y: auto;
    }
    &__form {
        height: 55px;
        background-color: rgb(23, 33, 43);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__msg {
        background-color: transparent;
        border: none;
        resize: none;
        height: 85%;
        width: 100%;
        color: white;
        padding: 5px 5px;
        margin-right: 5px;
    }
    &__send {
        font-weight: 500;
        font-size: 12px;
        padding: 8px 30px;
        margin-right: 5px;
    }
    &__list {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
    }
    &__item {
        background-color: rgb(43, 82, 120);
        border-radius: 5px;
        margin: 0 10px 5px;
        padding: 10px 15px;
        &_right {
            align-self: flex-end;
        }
        &_left {
            align-self: flex-start;
        }
        &_msg {
            position: relative;
            margin-right: 15px;
            bottom: 8px;
        }
        &_time {
            position: relative;
            top: 8px;
            font-size: 12px;
            color: rgb(125, 168, 211);
        }
    }
}
