.chat {
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        align-items: center;
        background-color: rgb(23, 33, 43);
    }
    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        padding-left: 5px;
        height: 65px;
    }
    &__label {
        cursor: pointer;
        width: 25px;
        padding-right: 10px;
    }
    &__title {
        color: white;
    }
    &__info {
        color: rgb(127, 145, 164);
    }
    &__box {
        flex-grow: 2;
        background-color: transparent;
    }
    &__form {
        height: 55px;
        background-color: rgb(23, 33, 43);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__msg {
        background-color: transparent;
        border: none;
        resize: none;
        height: 85%;
        width: 100%;
        color: white;
        padding: 5px 5px;
        margin-right: 5px;
    }
    &__send {
        font-weight: 500;
        font-size: 12px;
        padding: 8px 30px;
        margin-right: 5px;
    }
    &__list {
        color: white;
    }
}
