.main {
    display: flex;
    height: 450px;
    background-color: #0e1621;
}

.panel_left {
    width: 300px;
    margin-right: 5px;
    background-color: rgb(23, 33, 43);
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 20px;
    &__search {
        color: rgb(229, 229, 229);
        background-color: rgb(36, 47, 61);
        width: 195px;
        border: none;
        border-radius: 5px;
        padding: 10px 10px;
    }
    &__link {
        height: 25px;
    }
    &__bar {
        width: 22px;
        height: 3px;
        background-color: rgb(108, 120, 131);
        position: relative;
        &::before,
        &::after {
            content: '';
            position: relative;
            display: block;
            width: 22px;
            height: 3px;
            background-color: rgb(108, 120, 131);
        }
        &::before {
            top: 10px;
        }
        &::after {
            top: 17px;
        }
    }
}

.panel_right {
    width: 545px;
}
